/* page */
.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

.page-enter-to,
.page-leave {
  opacity: 1;
  transform: translateX(0);
}

.page-enter-active,
.page-leave-active {
  transition: .3s;
}

/* page cache in (keep-alive dynomic) */
.page-cache-enter {
  opacity: 0;
  transform: translateX(20px);
}

.page-cache-leave-to,
.page-cache-leave {
  display: none;
} 

.page-cache-enter-to {
  opacity: 1;
  transform: translateX(0);
}

.page-cache-enter-active {
  transition: .5s;
}